/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
	box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
	display: block;
	margin: 0 auto;
}

body {
  background-color: rgb(27, 27, 27);
  color: aliceblue;
  margin: 1%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
